main > div > div.panel {
    background-color: #c3c3c31a;
}

main > div {
    margin-top: 20px;
}

.settings select{
    margin-right: 5%;
    margin-bottom: 5px;
}

.film-items > div {
    padding: 0px 9px;
    float: none;
    display: inline-block;
    vertical-align: top;
    min-width: 180px;
    margin-bottom: 20px;

}

.film-item{
    position: relative;
    margin: 0px;
}




.film-item .rating{
    position: relative;
    display: block;
    margin: 0;
    padding: 0 5px;
    background-color: white;
    margin-bottom: -15px;
    font-size: 12px;
    cursor: default;
    overflow: hidden;
}
.film-item .rating .stars {
    position: relative;
    display: inline-block;
    white-space:nowrap;
    overflow: hidden;
    color: #ff6a0d;
    margin: 0;
    padding: 0;
    list-style: none;
}
.film-item .rating .rating-value {
    position: absolute;
    top: 0;
    right: 0;
    width: 55%;
    background-color: white;;
    text-align: right;
    font-weight: bold;
    color: transparent;
    transition: width 0.3s ease-out;
}


.film-item:hover .rating-value{
    width: 100% !important;
    color: #ff6a0d;
    padding-left: 20px;
}

.film-item img {
    width: 100%;
    min-height: 100px;
    min-width: 80px;
    max-width: 200px;

}

.film-item .title{
    max-width: 200px;
    color: #5f5f5f;
    padding: 0px 0px;
    margin: 0px 0px;
    font-size: 12pt;
    margin-top: -10px;
    background-color: white;
    position: relative;
}

.modal-dialog{
    width: 800px;
}

.seances thead small {
    color: #b9b9b9;
}

.seances td{
    cursor: default;
}

.seances .cinema-name{
    color: gray;
    font-weight: bold;
}

.seances .cinema-name small{
    font-size: 100%;
    padding-left: 20px;
    font-weight: normal
}

.seances .begins span{
    font-weight: bold;
    color: gray;
    padding-right: 10px;
}

#yandex_map_wrapper {
    position: relative;
}
.hide-map {
    position: absolute;
    z-index: 999;
    top: 10px;
    right: 10px;
    box-shadow: 0 0 3px;
    opacity: 0.8;
}
