<!DOCTYPE html>
<html lang="en" ng-app='app'>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    <title>Kinoshka - {{test}}</title>

    <!-- Bootstrap -->
    <link href="lib/bootstrap/css/bootstrap.css" rel="stylesheet">
    <link rel="stylesheet" href="css/main.css">
</head>

<body>

    <script src="https://api-maps.yandex.ru/2.1/?lang=ru_RU" type="text/javascript"></script>
    <script src="lib/jquery-3.1.1.js"></script>
    <script src="lib/bootstrap/js/bootstrap.js"></script>
    <script src="lib/angular.js"></script>
    <script src="js/kinopoisk-ng.js"></script>
    <script src="js/yandex-maps-ng.js"></script>
    <script src="js/app.js"></script>


    <main>

        <div class="col-md-8 col-md-offset-2 col-sm-8 col-sm-offset-2">

            <!--            <div class="panel-body" id="map" style="height: 400px" yandex-map address="Калининград, Профессора Баранова, 40" zoom="14"></div>-->


            <div class="panel panel-default settings" ng-controller="settings">

                <!--               <div class="panel-body" id="map" style="height: 400px" yandex-map address="{{currentAddress}}" zoom="14"></div>-->

                <div class="panel-body">
                    <form class="form-inline">

                        <label>Город:</label>
                        <select class="form-control" ng-model="api.currentCity" ng-change="api.reloadFilms()">
                            <option value="{{cityID}}" ng-repeat="(cityID,cityName) in api.cities">{{cityName}}</option>
                        </select>

                        <label>Жанр:</label>
                        <select class="form-control" ng-model="api.currentGenre">
                            <option value="{{genre}}" ng-repeat="genre in api.genres">{{genre}}</option>
                        </select>

                        <button class="form-control btn btn-default" ng-class="orderByRating ? 'active' : ''" ng-click="orderByRating = !orderByRating; setOrder(orderByRating);">Сначала популярные</button>
                    </form>
                </div>
            </div>


            <div class="panel panel-default">
                <div class="panel-body film-items" ng-controller="films">

                    <div class="col-md-2" ng-repeat="film in api.films |filterByGenre:api.currentGenre |sortByRating:orderByRating" data-toggle="modal" data-target="#myModal" ng-click="setCurrentFilm(film.id, api.currentCity)">
                        <!--                    <div class="col-md-2" ng-repeat="film in films" ng-hide="fi">-->
                        <div class="thumbnail film-item ">


                            <div class="rating" title="рейтинг: {{film.rating}}">
                                <ul class="stars">
                                    <li class="glyphicon glyphicon-star"></li>
                                    <li class="glyphicon glyphicon-star"></li>
                                    <li class="glyphicon glyphicon-star"></li>
                                    <li class="glyphicon glyphicon-star"></li>
                                    <li class="glyphicon glyphicon-star"></li>
                                    <li class="glyphicon glyphicon-star"></li>
                                    <li class="glyphicon glyphicon-star"></li>
                                    <li class="glyphicon glyphicon-star"></li>
                                    <li class="glyphicon glyphicon-star"></li>
                                    <li class="glyphicon glyphicon-star"></li>
                                    <li class="rating-value" style="width:{{getRatingPercent(film.rating)}}%;">{{film.rating}}</li>
                                </ul>

                            </div>

                            <img src="{{film.posterURL}}" alt="" class="img-responsive">

                            <div class="title">{{ film.nameRU }}</div>

                        </div>
                    </div>

                </div>
            </div>
        </div>

        <!-- Modal -->
        <div id="myModal" class="modal fade" role="dialog">
            <div class="modal-dialog">

                <!-- Modal content-->
                <div class="modal-content" ng-controller="film">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title"> Подробности о фильме </h4>
                    </div>
                    <div class="modal-body">

                        <img src="{{film.posterURL}}" alt="" class="thumbnail col-md-4 col-sm-4 poster">

                        <div class="panel col-md-8 col-sm-8">
                            <div class="panel-body">
                                <h3>{{film.nameRU}}<br>
                                    <small>слоган: {{film.slogan}}</small>
                                </h3>

                                <p>{{film.description}}</p>

                                <table class="table">
                                    <tr>
                                        <td>Год</td>
                                        <td>{{film.year}}</td>
                                    </tr>
                                    <tr>
                                        <td>Страна</td>
                                        <td>{{film.country}}</td>
                                    </tr>
                                    <tr>
                                        <td>Жанр</td>
                                        <td>{{film.genre}}</td>
                                    </tr>
                                    <tr>
                                        <td>Рейтинг</td>
                                        <td>{{film.ratingData.rating}}</td>
                                    </tr>
                                    <tr>
                                        <td>Ограничения</td>
                                        <td>
                                            <div ng-if="film.ratingAgeLimits">РФ: {{film.ratingAgeLimits}}+</div>
                                            <div ng-if="film.ratingMPAA"> MPAA: {{film.ratingMPAA}}</div>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </div>

                        <div class="panel">
                            <div class="panel-body">
                                <table class="table table-hover seances">
                                    <thead>
                                        <th colspan="2">Сеансы сегодня: <small>кликните, чтобы посмотреть на карте</small></th>
                                    </thead>
                                    <tr ng-repeat="seance in currentSeances" ng-click="setAddress(seance.address);">
                                        <td class="cinema-name">
                                            {{ seance.cinemaName }}
                                            <small>{{seance.address}}</small>
                                        </td>
                                        <td class="begins">
                                            <span ng-repeat="begins in seance.seance"> {{begins.time}}</span>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </div>



                        <div class="panel panel-default collapse" id="yandex_map_wrapper">

                            <div class="panel-body">
                                <button class="btn btn-default hide-map" ng-click="hideMap()">Закрыть</button>
                                <div yandex-map style="height: 400px" address="{{currentAddress}}" zoom="14" controls="[zoomControl]"></div>
                            </div>
                        </div>



                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </div>

            </div>
        </div>

    </main>

</body>

</html>
